body {
    font-family: 'Georgia', serif;
    text-align: center;
    background-color: #8FBC8F;
}

.container {
    padding: 10px;
    margin: 15px auto;
    background-color: #556B2F;
    border: 3px solid #36451C;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    max-width: 600px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px;
    width: 100%;
    margin: 20px auto;
    max-width: 400px;
    background-color: #ccc;
}

.cell {
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    font-size: 10px;
    overflow: hidden;
    word-break: break-word;
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid #aaa;
}

.cell.clicked {
    background-color: #66ff66;
}

.cell.word-cell {
    background-color: #ffcccc;
}

.cell.second-word-cell {
    background-color: #ADD8E6;
}

.cell.third-word-cell {
    background-color: #ffffcc;
}

.cell.fourth-word-cell {
    background-color: #e6e6ff;
}

.cell.fifth-word-cell {
    background-color: #ccffcc;
}

.cell.sixth-word-cell {
    background-color: #ffebcc;
}

.cell.seventh-word-cell {
    background-color: #e6ccff;
}

button {
    margin-top: 20px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #36451C;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #556B2F;
}

input {
    margin-top: 10px;
    padding: 8px;
    width: 80%;
    max-width: 300px;
}

.message {
    margin-top: 20px;
    color: #F8F8F8;
}

.button-container {
    margin-top: 20px;
}
